# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Playwright State (Contains your sensitive session tokens!)
.auth_state.json

# Local Crawl State
.crawled_urls.txt

# Outputs (Scraped data)
output/

# IDE
.vscode/
.idea/
